{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <h1>{{ config_ui.hero_title or '' }}</h1>
    <p>{{ config_ui.hero_subtitle or '' }}</p>
  </section>


  {% set imgs = config_ui.landing_images or [] %}
  <section class="landing-grid">
    {% for i in range(9) %}
      {% set img = imgs[i] if imgs|length > i else '' %}
      <div class="portfolio-item">
        {% if img %}<img src="{{ img }}" alt="Immagine {{ i+1 }}">{% endif %}
      </div>
    {% endfor %}
  </section>
{% endblock %}

