
{% extends "base.html" %}


{% block sidebar %}
{% include "sidebar.html"%}
{% endblock %}

{% block content %}
  <!-- Contenuto principale -->
  <div class="dashboard-content">
  <div class="user-header">
    <img src="{{ user.picture }}" alt="Foto profilo" class="user-photo">
    <h2 class="user-name">{{ user.name }}</h2>
  </div>

  <h2 class="titolo-sezione">Dati utente</h2>
  <table class="user-info-table">
    <tr>
      <th>Email</th>
      <td>{{ user.email }}</td>
    </tr>

  </table>

  <form method="post" action="{{ url_for('user.profilo') }}" enctype="multipart/form-data" class="user-form">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" value="{{ user.name }}" required>

    <label for="immagine">Immagine profilo</label>
    <input type="file" id="immagine" name="immagine" accept="image/*">

    <button type="submit">Aggiorna</button>
  </form>
</div>

{% endblock %}
